In [1]:
# dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [2]:
# import API key
from api_keys import g_key

In [3]:
# create dataframe based off csv created in the first part
city_data = pd.read_csv("output_data/cities.csv")
city_data.head()

,City_ID,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,camana,-16.62,-72.71,63.59,67,100,8.77,PE,1595266859
1,1,hermanus,-34.42,19.23,57.99,84,0,5.99,ZA,1595266720
2,2,port alfred,-33.59,26.89,60.13,61,0,4.94,ZA,1595266720
3,3,rikitea,-23.12,-134.97,67.96,64,83,14.41,PF,1595266475
4,4,butaritari,3.07,172.79,82.78,67,90,6.58,KI,1595266720

In [4]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# humidity heatmap

locations = city_data[["Latitude", "Longitude"]]
humidity = city_data["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=150,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# narrow down cities to fit your ideal weather condition

ideal_cities = city_data.loc[(city_data["Max Temp"] < 85) & (city_data["Max Temp"] > 68) \
                             & (city_data["Wind Speed"] < 12) & (city_data["Cloudiness"] < 10)].dropna()

ideal_cities

,City_ID,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
57,57,redmond,47.67,-122.12,78.01,68,0,4.03,US,1595266584
58,58,portland,45.52,-122.68,79.00,64,1,5.82,US,1595266576
88,88,hinton,53.40,-117.59,74.86,35,5,2.17,CA,1595266731
96,96,cidreira,-30.18,-50.21,74.77,65,9,2.86,BR,1595266663
128,128,semnan,35.57,53.40,84.65,25,0,7.67,IR,1595266736
132,132,arkhangelsk,64.54,40.54,71.60,46,0,4.47,RU,1595266845
139,139,ponta do sol,32.67,-17.10,73.00,62,0,3.00,PT,1595266513
142,142,castro,-24.79,-50.01,69.89,57,0,7.09,BR,1595266494
147,147,sanok,49.56,22.21,69.01,85,4,7.00,PL,1595266739
152,152,imbituba,-28.24,-48.67,78.80,54,0,11.41,BR,1595266739
191,191,mundelein,42.26,-88.00,84.00,48,1,8.05,US,1595266744
221,221,gat,31.61,34.76,82.99,64,0,1.01,IL,1595266681
225,225,taruma,-22.75,-50.58,79.79,44,0,5.50,BR,1595266748
259,259,padre bernardo,-15.35,-48.50,83.68,24,4,8.52,BR,1595266753
279,279,namibe,-15.20,12.15,68.76,66,1,6.40,AO,1595266644
326,326,saint anthony,45.02,-93.22,79.00,47,1,3.36,US,1595266902
335,335,ronda,36.74,-5.17,84.00,43,4,5.99,ES,1595266763
336,336,la seyne-sur-mer,43.10,5.88,81.00,80,0,4.00,FR,1595266763
342,342,koshekhabl,44.90,40.51,78.73,54,0,10.38,RU,1595266764
378,378,san ramon,37.78,-121.98,69.01,63,1,9.17,US,1595266765
380,380,cristalina,-16.77,-47.61,73.54,43,1,11.41,BR,1595266770
404,404,zhaoyuan,37.36,120.40,70.50,76,0,6.60,CN,1595266774
463,463,kula,38.55,28.65,73.99,33,0,5.99,TR,1595266782
478,478,hirara,24.80,125.28,84.63,79,0,9.80,JP,1595266785
483,483,vrises,35.49,23.89,80.60,69,0,1.50,GR,1595266785
484,484,fagetelu,44.78,24.53,68.65,66,0,6.20,RO,1595266785
496,496,kokomo,40.49,-86.13,78.01,83,1,6.93,US,1595266693
524,524,steamboat springs,40.48,-106.83,75.00,25,1,3.36,US,1595266792
529,529,angoche,-16.23,39.91,70.74,77,3,8.32,MZ,1595266793
531,531,merrill,45.18,-89.68,71.60,60,1,5.82,US,1595266793

In [7]:
# create hotel dataframe
hotel_df = ideal_cities[["City","Country","Latitude","Longitude"]].copy()

# add hotel name column
hotel_df["Hotel Name"] = ""

hotel_df

                  City Country  Latitude  Longitude Hotel Name
57             redmond      US     47.67    -122.12
58            portland      US     45.52    -122.68
88              hinton      CA     53.40    -117.59
96            cidreira      BR    -30.18     -50.21
128             semnan      IR     35.57      53.40
132        arkhangelsk      RU     64.54      40.54
139       ponta do sol      PT     32.67     -17.10
142             castro      BR    -24.79     -50.01
147              sanok      PL     49.56      22.21
152           imbituba      BR    -28.24     -48.67
191          mundelein      US     42.26     -88.00
221                gat      IL     31.61      34.76
225             taruma      BR    -22.75     -50.58
259     padre bernardo      BR    -15.35     -48.50
279             namibe      AO    -15.20      12.15
326      saint anthony      US     45.02     -93.22
335              ronda      ES     36.74      -5.17
336   la seyne-sur-mer      FR     43.10       5.88
342         koshekhabl      RU     44.90      40.51
378          san ramon      US     37.78    -121.98
380         cristalina      BR    -16.77     -47.61
404           zhaoyuan      CN     37.36     120.40
463               kula      TR     38.55      28.65
478             hirara      JP     24.80     125.28
483             vrises      GR     35.49      23.89
484           fagetelu      RO     44.78      24.53
496             kokomo      US     40.49     -86.13
524  steamboat springs      US     40.48    -106.83
529            angoche      MZ    -16.23      39.91
531            merrill      US     45.18     -89.68

In [8]:
# set up parameters to search for hotels within 5000 meters

params = {"types":"lodging", "radius":5000, "key":g_key}

# use iterrows to find hotels based on latitude and longitude
for index, row in hotel_df.iterrows():
    
    # pull lat and lng
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    # add location to our params
    params["location"] = f"{lat},{lng}"
    
    # url from Google API
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request/convert to json
    name_hotel = requests.get(url, params=params).json()
    
    # grab the first hotel and store in dataframe
    try:
        hotel_df.loc[index, "Hotel Name"] = name_hotel["results"][0]["name"]
    except (KeyError, IndexError):
        print("No results...skipping city.")

hotel_df

No results...skipping city.
No results...skipping city.

,City,Country,Latitude,Longitude,Hotel Name
57,redmond,US,47.67,-122.12,Seattle Marriott Redmond
58,portland,US,45.52,-122.68,Portland Marriott City Center
88,hinton,CA,53.40,-117.59,Econo Lodge & Suites
96,cidreira,BR,-30.18,-50.21,Novomar Pousada e Turismo Ltda
128,semnan,IR,35.57,53.40,Semnan Tourist Hotel
132,arkhangelsk,RU,64.54,40.54,DVINA HOTEL
139,ponta do sol,PT,32.67,-17.10,Hotel do Campo
142,castro,BR,-24.79,-50.01,CHACARA BAILLY
147,sanok,PL,49.56,22.21,Hotel Jagielloński w Sanoku
152,imbituba,BR,-28.24,-48.67,Praia Hotel Imbituba
191,mundelein,US,42.26,-88.00,DoubleTree by Hilton Libertyville-Mundelein
221,gat,IL,31.61,34.76,רגע בנחת
225,taruma,BR,-22.75,-50.58,PALAS HOTEL
259,padre bernardo,BR,-15.35,-48.50,
279,namibe,AO,-15.20,12.15,Hotel Chik Chik Namibe
326,saint anthony,US,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
335,ronda,ES,36.74,-5.17,Hotel Maestranza
336,la seyne-sur-mer,FR,43.10,5.88,Zenitude Hôtel-Résidences Toulon Six Fours
342,koshekhabl,RU,44.90,40.51,Apartments Europa
378,san ramon,US,37.78,-121.98,San Ramon Marriott
380,cristalina,BR,-16.77,-47.61,HOTEL TOPAZIO
404,zhaoyuan,CN,37.36,120.40,Super 8 Hotel Yantai Zhaoyuan Bus Terminal Branch
463,kula,TR,38.55,28.65,Anemon Kula Hotel
478,hirara,JP,24.80,125.28,Hotel Atoll Emerald Miyakojima
483,vrises,GR,35.49,23.89,Minoa Palace Resort
484,fagetelu,RO,44.78,24.53,
496,kokomo,US,40.49,-86.13,Hampton Inn & Suites Kokomo
524,steamboat springs,US,40.48,-106.83,Steamboat Grand
529,angoche,MZ,-16.23,39.91,Guest House HESADA
531,merrill,US,45.18,-89.68,Prairie Motel

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [10]:
# add marker layer for hotels on top of heat map

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))